node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# turbo
.turbo

# typescript
*.tsbuildinfo

tmp/
.vercel

# Playwright
apps/web/test-results/
apps/web/playwright-report/
apps/web/blob-report/
apps/web/e2e/.auth/
